# Weekly assignments week 4-5

Weekly assignment 4: machine learning (1/2)

Introduction: describe which dataset and variables you selected and why.

I have decided to go with the employee attrition dataset. I'm curious to know what potentially could cause employee attrition. I have picked seven variables that, in my opinion, are best to predict employee attrition. I have choosen the following variables: PerformanceRating, Education, EnvironmentSatisfaction, JobInvolvement, JobSatisfaction, PerformanceRating and WorkLifeBalance.

In [185]:
import seaborn as sns
import numpy as np
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import normalize
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.metrics import confusion_matrix

In [186]:
df = pd.read_csv('employee.csv') 
df = df.dropna()
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [187]:
for col in df.columns:
    print(col)

Age
Attrition
BusinessTravel
DailyRate
Department
DistanceFromHome
Education
EducationField
EmployeeCount
EmployeeNumber
EnvironmentSatisfaction
Gender
HourlyRate
JobInvolvement
JobLevel
JobRole
JobSatisfaction
MaritalStatus
MonthlyIncome
MonthlyRate
NumCompaniesWorked
Over18
OverTime
PercentSalaryHike
PerformanceRating
RelationshipSatisfaction
StandardHours
StockOptionLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
YearsAtCompany
YearsInCurrentRole
YearsSinceLastPromotion
YearsWithCurrManager

In an earlier stage I have used the dropna() code. It removes the rows that contains NULL values. Furthermore I have picked seven variables applicable to the prediction.

In [188]:
df_subset = df[['Attrition', 'PerformanceRating', 'Education', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobSatisfaction', 'PerformanceRating', 'WorkLifeBalance']]
df_subset.head()

,Attrition,PerformanceRating,Education,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,PerformanceRating,WorkLifeBalance
0,Yes,3,2,2,3,4,3,1
1,No,4,1,3,2,2,4,3
2,Yes,3,2,4,2,3,3,3
3,No,3,4,4,3,3,3,3
4,No,3,1,1,3,2,3,3

In [189]:
dummies = pd.get_dummies(df['PerformanceRating'])
df = pd.concat([df, dummies], axis=1)

In [190]:
dummies = pd.get_dummies(df['Education'])
df = pd.concat([df, dummies], axis=1)

In [191]:
dummies = pd.get_dummies(df['EnvironmentSatisfaction'])
df = pd.concat([df, dummies], axis=1)

In [192]:
dummies = pd.get_dummies(df['JobInvolvement'])
df = pd.concat([df, dummies], axis=1)

In [193]:
dummies = pd.get_dummies(df['JobSatisfaction'])
df = pd.concat([df, dummies], axis=1)

In [194]:
dummies = pd.get_dummies(df['PerformanceRating'])
df = pd.concat([df, dummies], axis=1)

In [195]:
dummies = pd.get_dummies(df['WorkLifeBalance'])
df = pd.concat([df, dummies], axis=1)

In [196]:
df_subset['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

Weekly assignment 5: machine learning (2/2)

In [197]:
X = df_subset[['PerformanceRating', 'Education', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobSatisfaction', 'PerformanceRating', 'WorkLifeBalance']] 
X = normalize(X) 
y = df_subset['Attrition'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

Explanation algorithm:

In [198]:
knn = KNeighborsClassifier(n_neighbors=5) 
knn = knn.fit(X_train, y_train) 
knn.score(X_test, y_test)

0.8095238095238095

In [199]:
y_test_pred = knn.predict(X_test) 
cm = confusion_matrix(y_test, y_test_pred) 
cm

array([[352,  12],
       [ 72,   5]], dtype=int64)

In [200]:
conf_matrix = pd.DataFrame(cm, index=['PerformanceRating', 'Education', 'EnvironmentSatisfaction', 'JobInvolvement', 'JobSatisfaction', 'PerformanceRating', 'WorkLifeBalance'], columns = ['Age_p', 'Education_p', 'EnvironmentSatisfaction_p', 'JobInvolvement_p', 'JobSatisfaction_p', 'PerformanceRating_p', 'WorkLifeBalance_p']) 
conf_matrix

ValueError: Shape of passed values is (2, 2), indices imply (7, 7)